{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/openseadragon.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/annotorious.min.css') }}">
<style>
    #openSeaDragon {
        width: 800px;
        height: 600px;
        border: 1px solid grey;
    }
    .a9s-annotationlayer {
        pointer-events: none;
    }
</style>
{% endblock css %}

{% block body_content %}
<h1>OpenSeadragon Viewer</h1>
<div id="openSeaDragon"></div>
<div>
    <button id="zoom-in">Zoom In</button>
    <button id="zoom-out">Zoom Out</button>
    <button id="home">Home</button>
    <button id="create-annotation">Create Annotation</button>
    <button id="update-annotation">Update Annotation</button>
    <button id="delete-annotation">Delete Annotation</button>
</div>
{% endblock body_content %}

{% block js %}
<script src="{{ url_for('static', filename='js/openseadragon.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/openseadragon_viewer.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/annotorious.js') }}" defer></script>
{% endblock js %}
